.container {
    background: silver;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text {
    font-size: 25vw;
    color: black;
    margin: 0;
    line-height: 1;
}
@media (min-width: 30rem) {
    .text {
        font-size: 15vh;
    }
}
.link {
    text-decoration: none;
    color: inherit;
}
.wUp a {
    font-family: 'Abril Fatface', cursive;
    color: white;
}
.h a {
    font-family: 'Tangerine', cursive;
    letter-spacing: 5px;
    font-weight: bold;
}
.a a {
    font-family: 'Gochi Hand', cursive;
    color: yellow;
}
.t a {
    font-family: 'Tourney', cursive;
}
.apo a {
    font-family: 'Rye', cursive;
    color: fuchsia;
}
.s a {
    font-family: 'Courier Prime', monospace;
}
.yUp a {
    font-family: 'Megrim', cursive;
    letter-spacing: 5px;
    font-weight: bold;
    color: fuchsia;
}
.o a {
    font-family: 'Press Start 2P', cursive;
}
.u a {
    font-family: 'Orbitron', sans-serif;
    color: white;
}
.r a {
    font-family: 'Palette Mosaic', cursive;
}
.tUp a {
    font-family: 'Bungee Shade', cursive;
    font-weight: bold;
}
.y a {
    font-family: 'Indie Flower', cursive;
    color: yellow;
}
.p a {
    font-family: 'Baumans', cursive;
}
.e a {
    font-family: 'Emilys Candy', cursive;
}
.qm a {
    font-family: 'Original Surfer', cursive;
    color: fuchsia;
}
