@media (min-width: 30rem) {
    .profileImage {
        margin-left: 1rem;
        float: right;
        transform: scaleX(-1);
    }
    .cmykImage {
        margin-left: 1rem;
        float: right;
    }
}
