@use './abstracts' as *;

.listItem {
    list-style: none;
    border-top: 0.5px solid $gray-light-very;
    padding: 0.5rem 0;
    time {
        font-size: $fs-400;
    }
}
.chirpBody p {
    margin: 0.5rem 0;
}
.twitterLink a {
    color: $blue-twitter;
    overflow-wrap: break-word;
    &:hover {
        color: $yellow;
    }
}
