@use './abstracts' as *;

.footer {
    margin: 0 auto;
    padding: 1rem 1rem 0;
    max-width: 45rem;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid $gray-light-very;
    p,
    a {
        font-size: $fs-350;
        text-align: center;
        line-height: 1.5;
    }
    p {
        margin: 0.5rem;
    }
}
