@use './abstracts' as *;

* {
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
    background-color: $gray-dark-very;
    color: $white;
}
h1,
h2,
h3 {
    font-family: $font-family-cursive;
    font-weight: 500;
}
p,
a,
li,
q,
time,
figcaption {
    font-family: $font-family-sans-serif;
    font-weight: 400;
}
a {
    color: inherit;
    text-decoration: none;
}
p,
ul li,
ol li {
    font-size: $fs-450;
}
p a {
    text-decoration: underline;
    text-underline-offset: 2px;
    &:hover {
        color: $gray-dark-very;
        background-color: $yellow;
    }
}
pre {
    background-color: $gray-dark;
    padding: 0.5rem;
}
code {
    font-size: $fs-400;
}
.container,
.container--large {
    margin: 0 auto;
    padding: 0 1rem;
}
.container,
.container--large {
    max-width: 45rem;
}
.indexList {
    padding: 0;
    width: 100%;
}
.buttonLink {
    margin: 1rem 0;
    a {
        text-align: center;
        border: 1px solid $gray-light-very;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        &:hover {
            border: none;
            color: $gray-dark-very;
            background-color: $white;
        }
    }
}
@media (min-width: 47rem) {
    .container {
        padding: 0;
    }
}
@media (min-width: 60rem) {
    .container--large {
        max-width: 70rem;
    }
}
