@use './abstracts/' as *;

.box {
    outline: 0.5px solid $gray-light-very;
}
.smallTileOne,
.smallTileTwo,
.smallTileThree,
.smallTileFour {
    display: grid;
    place-items: center;
}
.smallTileOne a {
    font-family: $font-family-cursive;
    font-weight: 500;
    line-height: 0.85;
    font-size: $fs-500;
    &:hover {
        color: $magenta;
    }
}
.smallTileTwo a {
    .instagramIcon {
        fill: $white;
    }
    .instagramIcon:hover {
        fill: $magenta;
    }
}
.smallTileThree a {
    .githubIcon {
        fill: $white;
    }
    .githubIcon:hover {
        fill: $magenta;
    }
}
.smallTileFour a {
    .twitterIcon {
        stroke: $white;
        fill: none;
    }
    .twitterIcon:hover {
        stroke: $magenta;
    }
}
.lttr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    h1 {
        margin: 0 0 0.5rem;
        font-size: $fs-700;
    }
    h2 {
        margin: 0.5rem;
        color: $gray-dark-very;
        text-transform: uppercase;
        font-size: $fs-500;
    }
}
.ltbr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    figure {
        margin: 1rem;
    }
    q {
        font-size: $fs-550;
    }
    figcaption {
        margin-top: 0.5rem;
        text-transform: uppercase;
    }
}
.mobile,
.ltbl {
    position: relative;
    display: grid;
    place-items: center;
    background: repeat url('/profile-picture-bg.png');
    img {
        top: unset !important;
        width: unset !important;
        height: unset !important;
        min-width: unset !important;
        min-height: unset !important;
    }
}
.lbl,
.lbr,
.rrt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    a span img {
        filter: saturate(0);
    }
    a:hover span img {
        filter: unset;
    }
}
.lbl,
.rrt {
    margin-top: 0;
    h2 {
        display: inline-block;
        &:hover {
            color: $magenta;
        }
    }
}
.lbr {
    margin-bottom: 0;
    h2 {
        display: inline-block;
        &:hover {
            color: $magenta;
        }
    }
}
.r {
    display: flex;
    flex-direction: column;
    .rl {
        order: 2;
    }
    .rr {
        order: 1;
    }
}
.rl {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    overflow: scroll;
    h2 {
        text-align: center;
        &:hover {
            color: $magenta;
        }
    }
    p,
    a {
        font-size: $fs-400;
    }
}
.rrb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    h2 {
        text-align: center;
        &:hover {
            color: $magenta;
        }
    }
    ul {
        margin: 0;
        padding: 0;
    }
}
.PeopleItemList {
    list-style: none;
    margin: 0;
    padding: 0;
}
@media (max-width: 28rem) {
    .ltt {
        display: grid;
    }
    .mobile {
        min-height: calc(100vw / 5);
    }
    .lttl {
        grid-column: 1 / 6;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .smallTileOne,
    .smallTileTwo,
    .smallTileThree,
    .smallTileFour {
        grid-row: 1 / 2;
    }
    .smallTileOne {
        grid-column: 5 / 6;
    }
    .smallTileTwo {
        grid-column: 4 / 5;
    }
    .smallTileThree {
        grid-column: 2 / 3;
    }
    .smallTileFour {
        grid-column: 3 / 4;
    }
    .lttr {
        grid-column: 1 / 6;
        grid-row: 1 / 2;
    }
    .ltbl {
        display: none;
    }
}
@media (min-width: 28rem) {
    .mobile {
        display: none;
    }
    .lttl {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .ltt,
    .ltb {
        display: grid;
        grid-template-columns: 25% 75%;
    }
    .lb {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .r {
        display: grid;
        grid-template-columns: 50% 50%;
        .rl {
            order: 1;
        }
        .rr {
            order: 2;
        }
    }
    .rrt {
        justify-content: center;
    }
}
@media (max-width: 56rem) {
    .ltbl {
        min-height: calc(100vw / 4);
    }
}
@media (min-width: 56rem) {
    .containerHome {
        height: 100vh;
        display: grid;
        grid-template-columns: 50% 50%;
        overflow: hidden;
    }
    .l {
        display: grid;
        grid-template-rows: 50% 50%;
    }
    .lt {
        display: grid;
        grid-template-rows: 50% 50%;
    }
    .lbl {
        justify-content: start;
    }
    .lbr {
        justify-content: end;
    }
    .rr {
        display: grid;
        grid-template-rows: 50% 50%;
    }
}
