@use './abstracts/' as *;

.listItem {
    list-style: none;
    border-top: 0.5px solid $gray-light-very;
    padding: 1rem 0;
    .media {
        a span img {
            border: 0.5px solid $gray-light-very !important;
            transition: all 0.5s;
            &:hover {
                transform: scale(1.025);
            }
        }
    }
    .blurb {
        padding: 1rem 0 0;
        .categories {
            span {
                text-transform: uppercase;
                font-size: $fs-350;
            }
        }
        a h2 {
            margin: 1rem 0;
            &:hover {
                color: $magenta;
            }
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
}
@media (min-width: 35rem) {
    .listItem {
        display: flex;
        div {
            flex: 1;
        }
        .media {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .blurb {
            padding: 0 1rem;
        }
    }
}
