@use './abstracts/' as *;

.navHack {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    ul {
        list-style: none;
        padding: 0;
        li {
            text-align: center;
            margin-bottom: 1rem;
            a {
                font-family: $font-family-cursive;
                font-weight: 500;
                font-size: 12vw;
                line-height: 1.25;
                &:hover,
                &:focus {
                    color: $magenta;
                }
            }
        }
    }
}
@media (min-width: 510px) {
    .navHack ul li a {
        font-size: $fs-800;
    }
}
