.peopleEntryStripe {
    margin-bottom: 0.5rem;
}
.peopleEntryStripe a span img {
    filter: saturate(0);
    border-radius: 50%;
}
.peopleEntryStripe a {
    display: flex;
    align-items: center;
}
.peopleEntryStripe > a span:nth-child(2) {
    margin-left: 1rem;
}
