@use './abstracts/' as *;

.peopleItemStripe {
    max-width: 22.5rem;
    a {
        padding: 1rem;
        display: flex;
        align-items: flex-start;
        &:hover {
            outline: 0.5px solid $gray-light-very;
        }
        .text {
            flex: 1;
            padding-left: 1rem;
            h2 {
                font-size: 1.25rem;
            }
            p {
                font-size: 1rem;
            }
            & > * {
                margin: 0;
            }
        }
    }
    a span img {
        border-radius: 50%;
    }
}
