@use './abstracts/' as *;

.metadata {
    border-bottom: 0.5px solid $gray-light-very;
    padding-bottom: 0.5rem;
    p {
        margin: 0.5rem 0;
    }
}
.industry {
    text-transform: uppercase;
    font-weight: 600;
}
.link a {
    text-decoration: none;
}
.content {
    img {
        width: 100%;
    }
}
